.popup__close-button {
  border: transparent;
  background-color: transparent;
  height: 40px;
  position: absolute;
  padding: 0;
  top: -47px;
  right: -47px;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    right: 0px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
